<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiker.dao.UserMapper">

    <insert id="insertUser" parameterType="com.tiker.entity.User" >
        insert into
        users(id, phone_number, nickname, password
        <if test="college != null">
            , college
        </if>
        )
        value
        (#{id}, #{phoneNumber}, #{nickname}, #{password}
        <if test="college != null">
            , #{college}
        </if>
        );
    </insert>
</mapper>