<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiker.dao.UserMapper">

    <insert id="insertUser" parameterType="com.tiker.entity.bo.UserBO" >
        insert into
        user(id, account, nickname, phone, password)
        value
        (#{id}, #{account}, #{nickname}, #{phone}, #{password});
    </insert>

    <select id="getUserByIdOrPhone" resultType="com.tiker.entity.bo.UserBO">
        select
            id
        from user
        where 1 = 1
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="phone != null">
            and phone = #{phone}
        </if>
    </select>

    <select id="getUserByOpenid" resultType="String" >
        select
            openid
        from wx_user
        where openid = #{openid}
    </select>

    <select id="getUserBaseInfoByOpenid" resultType="com.tiker.entity.vo.ShowUserVO">
        select
            u.nickname, u.phone, u.img_url, a.university, a.campus
        from `wx_user` u left join address a
        on a.user = u.openid
        where u.openid = #{openid}
    </select>

    <update id="updateUserBaseInfo">
        update
            wx_user
        set
            nickname = #{nickname},
            phone = #{phone}
        where
            openid = #{userId}
    </update>

    <insert id="insertNewWxUser" parameterType="com.tiker.entity.bo.WxUserBo">
        insert into
            wx_user(openid, nickname, created_time, last_login_time)
        value(#{openid}, #{nickname}, #{createdTime}, #{lastLoginTime});
    </insert>
</mapper>